<div id="main-div" (click)="chatService.closeDropDownMenu()">
  <app-header></app-header>
  <div class="main">
    <app-side-nav
      [ngClass]="{
        width100: layoutState().isSideNavOpen && shouldAnimateSideNav(),
        width0: !layoutState().isSideNavOpen && shouldAnimateSideNav(),
        'd-none': !layoutState().isSideNavOpen && !shouldAnimateSideNav()
      }"
    ></app-side-nav>
    @if (layoutState().isNewMessageOpen) {
    <app-new-message></app-new-message>
    } @if (layoutState().isDirectMessageOpen) {
    <app-direct-message></app-direct-message>
    } @if (layoutState().isChatOpen) {
    <app-chat></app-chat>
    } @if (chatService.profileViewUsersActive) {
    <app-profile-view-users></app-profile-view-users>
    } @if (chatService.profileViewLoggedUser) {
    <app-profile-view-logged-user></app-profile-view-logged-user>
    }
    <app-thread
      [ngClass]="{
        width100: layoutState().isThreadOpen && shouldAnimateThread(),
        width0: !layoutState().isThreadOpen && shouldAnimateThread(),
        'd-none': !layoutState().isThreadOpen && !shouldAnimateThread()
      }"
    ></app-thread>
    @if (dialogService.openUploadError()) {
    <app-upload-error></app-upload-error>
    }
  </div>
  <div class="close-menu purple-hover" (click)="closeSection()">
    <span>
      @if (this.isSideNavSelected()) { Workspace-Menü schließen } @else {
      Workspace-Menü öffnen }</span
    >
    <img
      id="menu-button"
      class="rotate-180deg change-menu-img"
      src="assets/img/main/blackMenu.png"
      [class.change-menu-img-blue]="!this.isSideNavSelected()"
    />
  </div>
  @if (sideNavService.createChannelsDivOpened) {
  <app-create-channel></app-create-channel>
  } @if (isEditChannelVisible()) {
  <app-edit-channel></app-edit-channel>
  }
</div>
